@using MVC.ViewModels

@{
    // Layout = null;
}

@model ForgetPasswordVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card p-4 shadow-lg" style="width:35%" >
            <h2 class="text-center "style="color:var(--primary-color)">Forget Password</h2>
            <p class="text-center">Enter your Email below</p>
            <form asp-action="ForgetPassword" asp-controller="Account" method="post">
                <div class="mb-3 position-relative">
                    <div class="input-group">
                        <input asp-for="Email"  class="form-control" type="email" placeholder="Enter your email">
                    </div>

                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>

                <div>
                    <button class="d-block btn btn-primary w-75 m-auto" 
                    style="background-color:var(--primary-color)"
> Forget </button>
                </div>
            </form>
        </div>
    </div>
    @* <div class="vh-100"></div> *@
</body>
</html>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

}
