@model LoginViewModel

@{
	ViewData["title"] = "Login";
}

<div class="login-div rounded-4 shadow-sm position-absolute top-50 start-50 translate-middle d-flex justify-content-between align-items-center">
	<div class="h-100 w-50 px-5 py-3 text-white text-center rounded-4 d-none d-md-flex flex-column justify-content-center align-items-center">
		<h2>Welcome Back</h2>
		<p class="py-2">Login to your account to access all our features</p>
		<a asp-controller="Account" asp-action="Register" class="login-register-button text-white rounded-5 px-4 py-3">No account yet? Register Here</a>
	</div>
	<form method="post" class="form-container w-50 h-100 px-5 py-4 d-flex flex-column justify-content-between align-items-center">
		<h2 class="login-title">Login</h2>
		<div class="w-100 d-flex justify-content-evenly align-items-center">
			<a href="#"><i class="fab fa-facebook-f login-social-icon d-flex justify-content-center align-items-center"></i></a>
			<a href="#"><i class="fab fa-google-plus-g login-social-icon d-flex justify-content-center align-items-center"></i></a>
			<a href="#"><i class="fab fa-linkedin-in login-social-icon d-flex justify-content-center align-items-center"></i></a>
		</div>
		<div class="w-100 d-flex input-div flex-column justify-content-between">
			<div class="text-center text-muted separation-div">
				<span class="px-1 bg-white">or use your account</span>
			</div>
			<div>
				<label asp-for="Email" class="my-1"></label>
				<input asp-for="Email" class="login-form-input rounded-1" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Password" class="my-1"></label>
				<input asp-for="Password" type="password" class="login-form-input rounded-1" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>
		<div asp-validation-summary="ModelOnly" id="validation-summary" class="text-danger"></div>
		<a asp-controller="account" asp-action="ForgetPassword" class="text-muted align-self-end mt-4">Forgot Password?</a>
		<input id="login-submit" type="submit" class="btn login-submit w-50" value="Login" />
	</form>
</div>
<p class="login-register-sm d-block d-md-none text-center position-relative">
	No account yet?
	<a asp-controller="account" asp-action="Register"> Register Here</a>
</p>

@section Scripts {
	<script src="~/js/login.js"></script>
	<partial name="_ValidationScriptsPartial" />
}