<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/min/style.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" /> *@
    @await RenderSectionAsync("Styles",false)
</head>
<body class="m-0">
    <nav class="position-fixed w-100 navbar navbar-dark navbar-expand-lg bg-primary-color-75 py-2">
        <div class="container-fluid px-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="/images/Vezeeta.jpeg" alt="" />
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-md-5 m-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Doctor" asp-action="Search">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Doctor" asp-action="Search">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Doctor" asp-action="Search">Search</a>
                    </li>
                </ul>
                <ul class="navbar-nav gap-md-2">
                    @if (!User.Identity.IsAuthenticated)
                  {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register"> SignUp </a>
                        </li>
                  }
                  else{
                        <li class="nav-item">
                            <a class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"> Logout </a>
                        </li>
                  }
                
              </ul>
            </div>
        </div>
    </nav>

    <div class="">
        <main role="main" >
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
