:root {
    --primary-color: #004085;
    --primary-color-rgb: 0, 64, 133;
    --secondary-color: #B3E5FC;
    --secondary-color-rgb: 179, 229, 252;
    --accent-color: #F8F9FA;
    --accent-color-rgb: 248, 249, 250;
}

html {
    scrollbar-color: var(--primary-color) var(--accent-color);
}


.SP-badge {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.SP-badge-scroll {
    max-height: 80px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--accent-color);
}

.SP-icon {
    background-color: rgba(var(--primary-color-rgb), 0.3);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 7px;
}

.SP-callBTN {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

    .SP-callBTN:hover {
        background-color: var(--primary-color);
        color: var(--accent-color);
    }

.SP-active {
    background-color: var(--primary-color);
    color: var(--accent-color)
}

.SP-bookBTN {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

    .SP-bookBTN:hover {
        color: var(--primary-color);
        background-color: var(--accent-color);
        border-color: var(--primary-color);
    }

.SP-bookHeader {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-weight: bold;
}

.SP-primaryText {
    color: var(--primary-color);
}

.SP-bookCards * {
    font-size: 0.9rem;
}

.swiper-slide {
    display: flex;
}

.swiper-scrollbar {
    background: var(--secondary-color); /* Light grey background */
    border-radius: 10px;
}

.swiper-scrollbar-drag {
    background: var(--primary-color);
    border-radius: 10px;
}
