:root {
    --primary-color: #004085;
    --primary-color-rgb: 0, 64, 133;
    --secondary-color: #B3E5FC;
    --secondary-color-rgb: 179, 229, 252;
    --accent-color: #F8F9FA;
    --accent-color-rgb: 248, 249, 250;
}

.SP-filters, .SP-doctorsList {
    padding: 1rem;
    background: var(--accent-color);
}

.SP-genderRadios input:checked {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--secondary-color-rgb), 0.25); /* Adjust color & opacity */
}

.SP-Slider .noUi-connect {
    background: var(--primary-color);
}

.SP-Slider {
    height: 1rem;
}

.SP-filterBTN, .SP-resetBTN {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

    .SP-filterBTN:hover, .SP-resetBTN:hover {
        background-color: var(--secondary-color);
    }

.SP-Slider {
    height: 10px;
}

    .SP-Slider .noUi-handle {
        height: 18px;
        width: 18px;
        top: -5px;
        right: -9px; /* half the width */
        border-radius: 2px;
        border: 1px solid var(--primary-color);
    }

        .SP-Slider .noUi-handle::after, .SP-Slider .noUi-handle::before {
            display: none;
        }

.SP-filters i {
    color: var(--primary-color);
}

.SP-badge {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.SP-fees {
    color: var(--primary-color);
}

.SP-callBTN {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

    .SP-callBTN:hover {
        background-color: var(--primary-color);
        color: var(--accent-color);
    }

.SP-icon {
    background-color: rgba(var(--primary-color-rgb), 0.3);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 7px;
}

.SP-badge-scroll {
    max-height: 80px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--accent-color);
}

.SP-bookBTN {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

    .SP-bookBTN:hover {
        color: var(--primary-color);
        background-color: var(--accent-color);
        border-color: var(--primary-color);
    }

.SP-bookHeader {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-weight: bold;
}

.SP-primaryText {
    color: var(--primary-color);
}

.SP-bookCards * {
    font-size: 0.9rem;
}

.swiper-slide {
    display: flex;
}

.swiper-scrollbar {
    background: var(--secondary-color); /* Light grey background */
    border-radius: 10px;
}

.swiper-scrollbar-drag {
    background: var(--primary-color);
    border-radius: 10px;
}

.SP-active {
    background-color: var(--primary-color);
    color : var(--accent-color)
}
