:root {
    --primary-color: #004085;
    --secondary-color: #B3E5FC;
    --accent-color: #F8F9FA;
}


:root {
    --primary-font-color: #004085;
    --card-text-color: black;
    /* Not Added to Project yet  */
    scroll-behavior: smooth;
}
.swiper {
    width: 600px;
    height: 300px;
}

.swiper-slide img {
    opacity: 0;
    transform: scale(1.5);
    transition: transform 2s ease-in, opacity 1s ease-in;
}

.swiper-slide-active img {
    transform: scale(1);
    opacity: 1;
}

.bg-header {
    position: absolute;
    inset: 0;
    bottom: 50px;
    height: 100%;
    z-index: 10;
    opacity: 0.75;
    width: 100%;
    background-color: var(--primary-color);
}

#words,
#words + span {
    font-size: 2rem;
    font-weight: bold;
}

.services .card {
    --bg-icon-opacity: 0.025;
}


.services .card {
    background-color: var(--accent-color) !important;
    transition: all 0.3s ease-in;
}

    .services .card * {
        transition: all 0.3s ease-in;
    }

    .services .card::after {
        content: '\f061';
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 24px;
        color: var(--primary-font-color);
        position: absolute;
        right: 0px;
        bottom: 5px;
        width: 45px;
        height: 45px;
        transform: rotate(-45deg);
        transition: all 1s;
    }

    .services .card::before {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: var(--secondary-color);
        width: 45px;
        height: 45px;
        border-radius: 30px;
    }






    .services .card:hover {
        --primary-color: #b3e5fc;
        --secondary-color: #004085;
        --accent-color: #B3E5FC;
        --accent-color: #01BDE0;
        --primary-font-color: rgb(255, 255, 255);
        --bg-icon-opacity: 0.08;
        --card-text-color: white;
        scale: 1.04;
        color: white !important;
    }

        .services .card:hover::after {
            transform: rotate(-45deg) translate(30px, 0px)
        }

.doctors 
{
    background-image: linear-gradient(to top, rgba(186, 178, 178, 0.626) 10%, #004085d4), url("../../images/home/ser_bg.jpg");
    padding-block: 70px;
    background-attachment: fixed;
}

.doctors .swiper-slide:not(.my-slide-btn) 
{
}

.doctor-button-prev {
    left: 8%;
    /* Move left arrow further left */
}

.doctor-button-next {
    right: 8%;
    /* Move right arrow further right */
}

.doctor-button-prev,
.doctor-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    z-index: 12;
}

.my-slide-btn {
    width: fit-content !important;
}

.my-controls {
    border-radius: 10px;
    /* background-color: var(--accent-color); */
    padding-block: 8px;
    width: 75%;
    overflow: hidden;
    padding-inline: 10px;
    margin: auto;
    /* box-shadow: 0 0 3px 1px var(--primary-color) inset; */
}

    .my-controls .my-slide-btn .my-btn {
        background-color: white;
        color: #004085;
        transition: all 0.2s ease-in-out;
        font-size: 14px;
        font-weight: 600 !important;
    }

        .my-controls .my-slide-btn .my-btn:hover {
            /* border: #004085; */
            outline: 3px solid #004085a5;
            /* box-shadow:  0 0 2px 1px var(--primary-color) ; */
            scale: 1.05;
        }

        .my-controls .my-slide-btn .my-btn.mixitup-control-active {
            background-color: #004085 !important;
            color: white;
        }

.doctor-stars {
    background-clip: text !important;
    color: transparent !important;
    font-size: 1.5rem;
}


.my-nav-tabs .swiper-slide img {
    opacity: 1;
    transform: scale(1);
}

.my-nav-tabs .doctor-card {
    box-shadow: 0 0 2px 3px #00408588;
    margin-block: 15px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

    .my-nav-tabs .doctor-card::after {
        content: "";
        position: absolute;
        bottom: -100%;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: all 1s;
        border-top-right-radius: 999px;
        background-image: linear-gradient(-45deg,#004085d8 0% 20%,rgba(255, 255, 255, 0.562) );
    }

    .my-nav-tabs .doctor-card:hover {
        transform: scale(1.0083) translateY(-10px);
    }

    .my-nav-tabs .doctor-card:hover::after {
            bottom: -60%;
            left: -50%;
        }


.divider-block {
    margin-block: 15px;
    padding-block: 15px;
}

nav {
    z-index: 999;
    transition: all 0.7s ease-out;
}

.text-primary-color {
    color: var(--primary-font-color);
}

.bg-primary-color-75 {
    background-color: hsla(211, 100%, 26%, 0);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

nav li.nav-item {
    width: 100%;
    padding-inline: 5px;
    position: relative;
    overflow: hidden;
}

    nav li.nav-item a {
        font-size: 18px;
        font-weight: 700;
    }

        nav li.nav-item a:hover {
            font-size: 18px;
            color: white;
        }

    nav li.nav-item::after {
        content: "";
        background-color: var(--secondary-color);
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: -100%;
        transition: all 1s;
    }

    nav li.nav-item:hover::after {
        content: "";
        background-color: var(--secondary-color);
        height: 13px;
        width: 100%;
        border-start-end-radius: 30px;
        position: absolute;
        bottom: 0;
        left: 0%;
        opacity: 0.8;
    }

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}