<div class="about-card position-relative p-3 col-12 col-md-3 rounded-4 overflow-hidden d-flex flex-column justify-content-end text-white" style="height: 300px;">
	<div class="about-image position-absolute top-0 start-0 w-100 h-100 z-n1">
		<img src="https://www.perkosis.com/uploads/staffs/big/9.jpg" alt="profile image" class="w-100 h-100 object-fit-cover" />
	</div>
	<div class="about-content d-flex flex-column align-items-center">
		<h3 class="m-0 fs-4">John Doe</h3>
		<span style="font-size: 0.75rem;">Developer</span>
		<div class="d-flex justify-content-evenly w-75">
			<a class="about-icon mt-1 p-1 rounded-circle d-flex justify-content-center align-items-center" href="#">
				<i class="fa-brands fa-linkedin-in text-white"></i>
			</a>
			<a class="about-icon mt-1 p-1 rounded-circle d-flex justify-content-center align-items-center" href="#">
				<i class="fa-brands fa-github text-white"></i>
			</a>
		</div>
	</div>
</div>
