@{
    ViewData["Title"] = "About";
}

<div class="d-flex flex-wrap justify-content-evenly gap-4 w-75 mx-auto user-select-none" style="padding-top: 100px;">
    <partial name="_ProfileCardPartial" />
    <partial name="_ProfileCardPartial" />
    <partial name="_ProfileCardPartial" />
    <partial name="_ProfileCardPartial" />
    <partial name="_ProfileCardPartial" />
    <partial name="_ProfileCardPartial" />
</div>